<footer id="footer">


    <div class="footer2">
      <div class="container">
        <div class="row">         
            <div class="social text-center">
                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                <a href=""><i class="fab fa-facebook-f fa-2x"></i></a> 
                <a href="#"><i class="fab fa-dribbble fa-2x"></i></a>
                <a href="#"><i class="fab fa-flickr fa-2x"></i></a>
                <a href="#"><i class="fab fa-github fa-2x"></i></a>
            </div>
          <div class=" panel text-center">
            <div >
              <p  class="text-center">Copyright &copy; 2022 Future-Web <br>Designed by Naseer Ahmad</p>

            </div>
          </div>
  
        </div>
        <!-- /row of panels -->
      </div>
    </div>
  </footer>
  
  
