#footer{
    height: 130px;
    background-color: #000000;
    color: white;
}

.social{
    padding: 10px;
    margin-top: 20px;
    color: white;
}

#footer a{
    padding: 10px;
    /* margin: 20px; */
    /* margin-top: 10px; */
}

#footer i{
    color: rgb(238, 234, 234);
}