<app-header></app-header>
<br><br><br>



<div class='sidebar pt-4' id='sidenav'>
    <div id='leftmenuinner'>
      <div id='leftmenuinnerinner'>

        <h2 class="left">CSS</h2>
        <a routerLink="." [fragment]="intro">CSS Introduction</a>
        <a routerLink="." [fragment]="why">Why CSS</a>
        <a routerLink="." [fragment]="types">CSS Types</a>
        <a routerLink="." [fragment]="syntax">CSS Syntax</a>
        <a routerLink="." [fragment]="selectors">CSS Selectors</a>
        <a routerLink="." [fragment]="colors">CSS Colors</a>
        <a routerLink="." [fragment]="fonts">CSS Fonts</a>
        <a routerLink="." [fragment]="backgrounds">CSS Background</a>
        <a routerLink="." [fragment]="borders">CSS Border</a>
        <a routerLink="." [fragment]="text_transformation">CSS Text Trannsform</a>
        <a routerLink="." [fragment]="outlines">CSS Outline</a>
        <a routerLink="." [fragment]="links">CSS Links</a>

       
        <a target="_top" href="w3css_accordions.asp">CSS Accordions</a>
        <a target="_top" href="w3css_navigation.asp">CSS Navigation</a>
        <a target="_top" href="w3css_sidebar.asp">CSS Sidebar</a>
        <a target="_top" href="w3css_tabulators.asp">CSS Tabs</a>
        <a target="_top" href="w3css_pagination.asp">CSS Pagination</a>
        <a target="_top" href="w3css_progressbar.asp">CSS Progress Bars</a>
        <a target="_top" href="w3css_slideshow.asp">CSS Slideshow</a>
        <a target="_top" href="w3css_modal.asp">CSS Modal</a>
        <a target="_top" href="w3css_tooltips.asp">CSS Tooltips</a>
        <a target="_top" href="w3css_grid.asp">CSS Grid</a>
        <a target="_top" href="w3css_code.asp">CSS Code</a>
        <a target="_top" href="w3css_filters.asp">CSS Filters</a>
        <a target="_top" href="w3css_trends.asp">CSS Trends</a>
        <a target="_top" href="w3css_case.asp">CSS Case</a>
        <a target="_top" href="w3css_material.asp">CSS Material</a>
        <a target="_top" href="w3css_validation.asp">CSS Validation</a>
        <a target="_top" href="w3css_versions.asp">CSS Versions</a>
        <a target="_top" href="w3css_mobile.asp">CSS Mobile</a>
        <br>
        
       
        <h2 class="left">Examples</h2>
        <a target="_top" href="w3css_examples.asp">W3.CSS Examples</a>
        <a target="_top" href="w3css_demo.asp">W3.CSS Demos</a>
        <a target="_top" href="w3css_templates.asp">W3.CSS Templates</a>
        <br>
        <h2 class="left">References</h2>
        <a target="_top" href="w3css_references.asp">W3.CSS Reference</a>
        <a target="_top" href="w3css_downloads.asp">W3.CSS Downloads</a>
        
        <br><br>
      </div>
    </div>
</div>


<div class="content mt-2" style="margin-left: 290px; width: 870px;">
    

            <div id="intro">
                    <h1>Cascading Style Sheet</h1>

                
                    <ul>
                        <li>It is a stylesheet language used for describing the presentation of document written in a markup language like HTML</li>
                        <li>CSS is a cornerstone technology for world wide web alongside HTML and JavaScript</li>
                        <li>CSS is designed to enable separation of presentation and contents</li>
                        <li>All styles are stored in CSS files</li>
                        <li>CSS files must have extension as ".css" only</li>
                        </ul>
                <br>
            </div>

        <div id="why">
             <h2 id="why">Why CSS?</h2>


                <ul>
                <li>it allows much richer presentation appearance</li>
                <li>it reduces workload by centralizing commands for visual appearance instead of scattered ones</li>
                <li>some styles can be reused for multiple documents</li>
                </ul>

                 <br>
        </div>
        <div id="types">
            <h2>Types of CSS </h2>

            <ol>
                    <li>Inline CSS -> Highest priority</li>
                <ul>
                    <li>can be applied to only that tag</li>
                </ul>
                <li>Internal CSS -> Medium priority</li>
                <ul>
                <li>can be applied to only that document</li>
                </ul>
                <li>External CSS -> Lowest priority</li>
                <ul>
                <li>can be applied globally</li>
                </ul>
                </ol>
            <br>
         </div>
         <div id="syntax">
             
            <h2>CSS syntax (rule-set)</h2>

            <ul>
                <li>CSS syntax is selector and declaration block</li>
                <li>The selector points to the HTML element you want to style</li>
                <li>Each declaration includes CSS property and value pair</li>
                <li>Properties and  values are separated by colon(:)</li>
                <li>Each property and value separated by semicolon(;)</li>
            </ul>

            <div class="w3-example">
                <h3>Example</h3>
                <div class="w3-code notranslate htmlHigh">
                    <ul>
                        
                        <p>. h1 <br/> &lcub; <br/> &nbsp;&nbsp; color: red; <br/>&nbsp;&nbsp; font-size: 12px; <br/> &rcub; <br/> where</p>
                        <p>h1 is a selector</p>
                        <p>color is property</p>
                        <p>red is value</p>
                        <p>font-size is property</p>
                        <p>12px is value</p>
                        
                        </ul>

                </div>
            </div>
        </div>



    <div id="selectors">
        <h1 class="h1">CSS Selector</h1>
        <p><strong>CSS selectors</strong> are used <em>to select the content you want to style</em>. Selectors are the part of CSS rule set. CSS selectors select HTML elements according to its id, class, type, attribute etc. </p>
        <p>There are several different types of selectors in CSS.</p>
        <ol class="points">
        <li>CSS Element Selector</li>
        <li>CSS Id Selector</li>
        <li>CSS Class Selector</li>
        <li>CSS Universal Selector</li>
        <li>CSS Group Selector</li>
        </ol>

        <h4 class="h4">1) CSS Element Selector</h4>
        <p>The element selector selects the HTML element by name.</p>

        <div class="w3-example">
            <h3>Example</h3>
            <div class="w3-code">
                <textarea cols="112" rows="18">
                &lt;!DOCTYPE html&gt;<br>
                &lt;html&gt;<br>
                &lt;head&gt;<br>
                &lt;style&gt;<br>
                p&lcub;<br>
                    text-align: center;<br>
                    color: blue;<br>
                &rcub;<br>
                &lt;/style&gt;<br>
                &lt;/head&gt;<br>
                &lt;body&gt;<br>
                &lt;p&gt;This style will be applied on every paragraph.&lt;/p&gt;<br>
                &lt;p id="para1"&gt;Me too!&lt;/p&gt;<br>
                &lt;p&gt;And me!&lt;/p&gt;<br>
                &lt;/body&gt;<br>
                &lt;/html&gt; <br>

            </textarea>


            </div>
        </div>

        <h4 class="h4">2) CSS Id Selector</h4>
        <p>The id selector selects the id attribute of an HTML element to select a specific element. An id is always unique within the page so it is chosen to select a single, unique element. </p>
        <p>It is written with the hash character (#), followed by the id of the element.</p>
        <div class="w3-example">
            <h4>Example</h4>
            <div class="w3-code">
                <textarea name="" id="" cols="112" rows="16">
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                        &lt;style&gt;
                        #para1 {
                            text-align: center;
                            color: blue;
                        }
                        &lt;/style&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                        &lt;p id="para1"&gt;Hello Javatpoint.com&lt;/p&gt;
                        &lt;p&gt;This paragraph will not be affected.&lt;/p&gt;
                    &lt;/body&gt;
                    &lt;/html&gt; 
                </textarea>
            </div>
        </div>

        <h2 class="h4">3) CSS Class Selector</h2>
        <p>The class selector selects HTML elements with a specific class attribute. It is used with a period character . (full stop symbol) followed by the class name. </p>
        <h4 class="n">Note: A class name should not be started with a number.</h4>

        <div class="w3-example">
            <h3>Example</h3>
            <div class="w3-code">
                <textarea name="" id="" cols="112" rows="16">
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                    &lt;style&gt;
                    .center {
                        text-align: center;
                        color: blue;
                    }
                    &lt;/style&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    &lt;h1 class="center"&gt;This heading is blue and center-aligned.&lt;/h1&gt;
                    &lt;p class="center"&gt;This paragraph is blue and center-aligned.&lt;/p&gt; 
                    &lt;/body&gt;
                    &lt;/html&gt;
                </textarea>

            </div>
        </div>

        <h2 class="h4">4) CSS Universal Selector</h2>
        <p>The universal selector is used as a wildcard character. It selects all the elements on the pages. </p>
        <div class="w3-example">
            <h3>Example</h3>
            <textarea name="" id="" cols="112" rows="18">

                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                &lt;head&gt;
                &lt;style&gt;
                * {
                   color: green;
                   font-size: 20px;
                } 
                &lt;/style&gt;
                &lt;/head&gt;
                &lt;body&gt;
                &lt;h2&gt;This is heading&lt;/h2&gt;
                &lt;p&gt;This style will be applied on every paragraph.&lt;/p&gt;
                &lt;p id="para1"&gt;Me too!&lt;/p&gt;
                &lt;p&gt;And me!&lt;/p&gt;
                &lt;/body&gt;
                &lt;/html&gt;
            </textarea>
        </div>
    </div>

    <div id="colors">
        <h3>CSS Colors</h3>
        <p>The color property in CSS is used to set the color of HTML elements. Typically, this property is used to set the background color or the font color of an element.</p>
        <p>In CSS, we use color values for specifying the color. We can also use this property for the border-color and other decorative effects.</p>
        <p>We can define the color of an element by using the following ways:</p>
        <ul class="points">
        <li>RGB format.</li>
        <li>RGBA format.</li>
        <li>Hexadecimal notation.</li>
        <li>HSL.</li>
        <li>HSLA.</li>
        <li>Built-in color.</li>
        </ul>

    </div>
<hr>
      <div id="fonts">
          <h2>CSS Font</h2>
          <p>CSS Font property is used to control the look of texts. By the use of CSS font property you can change the text size, color, style and more. You have already studied how to make text bold or underlined. Here, you will also know how to resize your font using percentage. <p>
            <p>These are some important font attributes:</p>
            <ol class="points">
            <li><strong>CSS Font color</strong>: This property is used to change the color of the text. (standalone attribute)</li>
            <li><strong>CSS Font family</strong>: This property is used to change the face of the font.</li>
            <li><strong>CSS Font size</strong>: This property is used to increase or decrease the size of the font.</li>
            <li><strong>CSS Font style</strong>: This property is used to make the font bold, italic or oblique.</li>
            <li><strong>CSS Font variant</strong>: This property creates a small-caps effect.</li>
            <li><strong>CSS Font weight</strong>: This property is used to increase or decrease the boldness and lightness of the font. </li>
            </ol>
            <hr />
      </div>

      <hr>

      <div id="backgrounds">
          <h2>CSS Background</h2>
          <p>CSS background property is used to define the background effects on element. There are 5 CSS background properties that affects the HTML elements:<p>
            <ol class="points">
                <li>background-color</li>
                <li>background-image</li>
                <li>background-repeat</li>
                <li>background-attachment </li>
                <li>background-position</li>
            </ol>
            <div class="w3-example">
                <h4>background-color Example</h4>
                <div class="w3-code">
                    <textarea name="" id="" cols="112" rows="15">
                        &lt;!DOCTYPE html&gt;
                        &lt;html&gt;
                        &lt;head&gt;
                        &lt;style&gt;
                        h2,p{
                            background-color: red;
                        }
                        &lt;/style&gt;
                        &lt;/head&gt;
                        &lt;body&gt;
                        &lt;h2&gt;My first CSS page.&lt;/h2&gt;
                        &lt;p&gt;Hello Javatpoint. This is an example of CSS background-color.&lt;/p&gt;
                        &lt;/body&gt;
                        &lt;/html&gt;
                    </textarea>

                </div>
            </div>

      </div>
   
      <div id="borders">
        <h3>CSS Borders</h3>
        <p>The CSS border is a shorthand property used to set the border on an element.</p>
        <p>The CSS border properties are use to specify the style, color and size of the border of an element. The CSS border properties are given below</p>
        <ul class="points">
        <li>border-style</li>
        <li>border-color</li>
        <li>border-width</li>
        <li>border-radius</li>
        </ul>
      </div>

      <div id="text_transformation">
          <h2>Text Transformation</h2>
        <ul>
            <li>text-transformation property is used to specify all characters as upper case or lower case or capitalize each word.</li>
            <li>text-transformation : uppercase or lowercase or capitalize.</li>
            <li>Text Spacing
                <ul>
                    <li>text-indent property is used to specify the indentation of first line of text.</li>
                    <li>It takes px as units.</li>
                </ul>
            </li>
            <li>Letter Spacing
                <ul>
                    <li>letter-spacing property is used to specify space between characters in text.</li>
                    <li>It takes px as units.</li>
                </ul>
            </li>
            <li>Line Spacing
                <ul>
                    <li>line-height property is used to specify vertical spacing between lines.</li>
                    <li>It takes number of lines as units.</li>
                </ul>
            </li>
            <li>Word Spacing
                <ul>
                    <li>word-spacing property is used to specify space between words.</li>
                    <li>It takes px as units.</li>
                    <li>Its default value is zero.</li>
                </ul>
            </li>
            <li>White Space
                <ul>
                    <li>white-space property specifies how white space inside an element is handled.</li>
                    <li>If value is nowrap, then the sequence of white space collapse into a single whitespace.</li>
                    <li>The text continues the same line until &lt;br&gt; tag is encountered.</li>
                    <li>If the value is normal, text will wrap when necessay.</li>
                </ul>
            </li>
        </ul>
      </div>
      <br>
        <hr>
        <br>
      <div id="outlines">
          <h2>CSS Outline</h2>
          <br>
          <ul>
            <li>Same as that of border.</li>
            <li>Outline comes after border.</li>
            <li>Sides, radious, image, 3d styles are not supported.</li>
            <li>Comparison Table of CSS Margin and CSS Padding
                <table>
                    <thead>
                        <tr>
                            <th>CSS Margin</th>
                            <th>CSS Padding</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Outerspace</td>
                            <td>Innerspace</td>
                        </tr>
                        <tr>
                            <td>margin-top : number or %</td>
                            <td>padding-top : number or %</td>
                        </tr>
                        <tr>
                            <td>margin-bottom : number or %</td>
                            <td>padding-bottom : number or %</td>
                        </tr>
                        <tr>
                            <td>margin-right : number or %</td>
                            <td>padding-right : number or %</td>
                        </tr>
                        <tr>
                            <td>margin-left : number or %</td>
                            <td>padding-left : number or %</td>
                        </tr>
                        <tr>
                            <td>margin :auto (horizontally center of container</td>
                            <td>padding : number(all sides) </td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>

      </div>
      <br>
      <hr>
      <br>
      <div id="links">
          <h2>CSS Links</h2>
          <p class="intro">With CSS, links can be styled in many different ways.</p>
          <h2>Styling Links</h2>
          <p>Links can be styled with any CSS property (e.g. <code class="w3-codespan">color</code>, <code class="w3-codespan">font-family</code>, 
          <code class="w3-codespan">background</code>, etc.).</p>
          <div class="w3-example">
          <h3>Example</h3>
          <div class="w3-code notranslate cssHigh">
             a &lcub;<br>&nbsp;&nbsp;color: hotpink;<br>&rcub;</div>
          
          </div>
          <p>In addition, links can be styled 
          differently depending on what <strong>state</strong> they are in.</p>
          <p>The four links states are: </p>
          <ul>
          <li><code class="w3-codespan">a:link</code> - a normal, unvisited link</li>
          <li><code class="w3-codespan">a:visited</code> - a link the user has visited</li>
          <li><code class="w3-codespan">a:hover</code> - a link when the user mouses over it</li>
          <li><code class="w3-codespan">a:active</code> - a link the moment it is clicked</li>
          </ul>
          <div class="w3-example">
          <h3>Example</h3>
          <div class="w3-code notranslate cssHigh">
          /* unvisited link */<br>a:link &lcub;<br>&nbsp; color: red;<br>&rcub;<br><br>/* visited 
          link */<br>a:visited &lcub;<br>&nbsp; color: green;<br>&rcub;<br><br>/* mouse over link */<br>
          a:hover &lcub;<br>&nbsp;&nbsp;color: hotpink;<br>&rcub;<br><br>/* selected link */<br>a:active &lcub;<br>
            &nbsp;
          color: blue;<br>&rcub;</div>
          
          </div>
          <p>When setting the style for several link states, there are some order rules:</p>
          <ul>
          <li>a:hover MUST come after a:link and a:visited</li>
          <li>a:active MUST come after a:hover</li>
          </ul>
          <hr>
          
      </div>


















<!-- ========================FOOOOTERRRRRRRRRR=========================================== -->
    <div class="foo" style="width: 1100px; margin-left: -50px;">
        <app-footer></app-footer>
      
      </div>

    
</div>



