/* =======================SIDEBAR=========================== */
.sidebar{
    height:100%;
    width:230px;
    background-color:#E7E9EB;
    position:fixed!important;
    z-index:1;
    overflow:auto;
    box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    /* padding-top: 100px; */
}

#sidenav h2 {
    font-size:21px;
    padding-left:16px;
    margin:-4px 0 4px 0;
    width:204px;
}


#sidenav a {
    font-family:"Segoe UI",Arial,sans-serif;
    text-decoration:none;
    display:block;padding:2px 1px 1px 16px;
    color: black;
    padding:3px 2px 3px 24px;
    font-size:16px
}



#sidenav a:hover,#sidenav a:focus {
    color:#000000;
    background-color:#cccccc;
}
#sidenav a:active {
    background-color:#04AA6D;
    /* color:#ffffff; */
}



#sidenav a:target {
    background-color:#04AA6D;
  }

@media (max-width:992px){
 
  .w3-sidebar{
    display:block!important
  }
  
}

/* ======================END SIDEBAR======================= */



/* ===========================EXAMPLE============================== */
.w3-example{
    background-color:#E7E9EB;
    border-radius:5px;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    margin-left: 220px;
    padding: 8px 20px;
    margin: 24px -20px;
    box-shadow:none!important;

}
.w3-code{
  width:auto;
  background-color:#fff;padding:8px 12px;
  border-left:4px solid #4CAF50;
  word-wrap:break-word
}
.w3-example, a:focus{
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



@media (max-width:320px){
 

  .w3-example{
    width: 318px;
   
    display:block important;
  }
  
}






/* ===========================END EXAMPLE============================== */
