<app-header></app-header>
<br><br><br>
<app-carousel></app-carousel>



<section class="our-courses mt-5 " >

    <div class="container"  >
      <h2 style="text-align: center;"><span>Our Courses</span></h2>

        <div class="row mt-5 mb-5 " > 
            <div class="col-md-4 mb-5" >
              <div class="card text-center">
                <div class="card-block">
                  <img src="assets/images/2.png" style="width: 100px; height: 100px;" class="img-rounded" alt="tutorial thumbnail">
                 <a routerLink="html" id="card-link"><h4 class="card-title ">HTML</h4></a> 
                </div>
              </div>
            </div>

            <div class="col-md-4">
                <div class="card text-center ">
                  <div class="card-block">
                    <img src="assets/images/css.png" style="width: 140px; height: 103px;" class="img-rounded" alt="tutorial thumbnail">
                   <a routerLink="css" id="card-link"><h4 class="card-title ">CSS</h4></a> 
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card text-center">
                  <div class="card-block">
                    <img src="assets/images/bootstrap.png" style="width: 100px; height: 100px;" class="img-rounded" alt="tutorial thumbnail">
                   <a routerLink="bootstrap" id="card-link"><h4 class="card-title ">Bootstrap</h4></a> 
                  </div>
                </div>
              </div>
      </div>    
    </div>
</section>


<section class="job" >
  
    <div class="container-fluid" style="background: #d6d1f5">
        <div class="container">
        <div class="row p-5">
            <div class="col-sm-12 col-lg-6 col-md-6 text-center align-self-center">
            <h2 class="fw-lighter display-lg-6 display-sm-4 mt-2"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-signpost-2 text-primary" viewBox="0 0 18 18">
        <path d="M7 1.414V2H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h5v1H2.5a1 1 0 0 0-.8.4L.725 8.7a.5.5 0 0 0 0 .6l.975 1.3a1 1 0 0 0 .8.4H7v5h2v-5h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H9V6h4.5a1 1 0 0 0 .8-.4l.975-1.3a.5.5 0 0 0 0-.6L14.3 2.4a1 1 0 0 0-.8-.4H9v-.586a1 1 0 0 0-2 0zM13.5 3l.75 1-.75 1H2V3h11.5zm.5 5v2H2.5l-.75-1 .75-1H14z"/>
    </svg> The <mark>#rightway</mark>  to get yourself learned get a Job!</h2>
            <p class="fw-light mt-3 fs-5">We provide simple and easy learning material.</p>
            </div>
            <div class="col-sm-12 col-lg-6 col-md-6 p-3 text-center">
            <div class="p-2"><img class="lazyload blur-up" src="https://static.studytonight.com/css/resource.v3/svg/get-job.svg" style="max-width: 400px;" /></div>
            </div>
        </div>
        </div>
        </div>
    
</section> 




<app-footer></app-footer>
